apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-java-quarkus-pusddntn
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-java-quarkus-pusddntn:5015c8fed5dd7a00469e79cc21ffedacdb2d8d3b@sha256:908e7472dbf4dca6f23faf0657346f46a68f7619ef7208416a5b3d2909b663fb
          name: container-image
